.header {
    position: fixed;
    background: #3d3d4a;
    height: 80px;
    width: 100%;
    z-index: 3;
}


.header:after {

    /*添加一个内容*/

    content: "";

    /*转换为一个块元素*/

    display: block;

    /*清除两侧的浮动*/

    clear: both;

}


.empty {
    height: 80px;
    width: 100%;
}

.header_content {
    height: 100%;
    margin: 0 auto;
    width: 1232px;
}

.logo_box {
    float: left;
    width: 150px;
    height: 100%;
    line-height: 80px;
}

.logo_box img {
    float: left;
    width: 65px;
    margin-top: 6px;
    margin-left: 5px;
}

.logo_box h3 {
    float: left;
    color: white;
    font-size: 30px;
    margin-left: 5px;
}

.location {
    float: left;
    line-height: 80px;
    font-size: 16px;
    color: white;
    margin-left: 2px;
}

.location em {
    font-style: normal;
    font-size: 20px;
}


.top_links {

    float: left;
    margin-left: 20px;
    line-height: 80px;
}


.top_links li {
    position: relative;
    float: left;
    padding: 0 20px 0 20px;
}

.top_links li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background: white;
    right: -3px;
    top: 36px;
}

.top_links a {
    font-size: 19px;
    font-weight: 500;
    color: white;
}

.top_links li .highlight {
    color: #5b8fff;
}

.top_links .highlight::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 20px;
    height: 4px;
    width: 39px;
    background-color: #5b8fff;
}

.top_links .last::after {
    display: none;
}

.login {
    float: right;
    font-size: 16px;
    color: white;
    line-height: 80px;
    margin-right: 10px;
}

.wxlink {
    float: right;
    margin-right: 50px;
    line-height: 80px;
    font-size: 16px;
    color: white;
}

.btn_top {
    float: right;
    width: 100px;
    height: 32px;
    margin: 25px 40px 0 0;
    line-height: 31px;
    background: #3874f5;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    color: white;
}


/* 头部的搜索框 */

.top_btn {
    float: right;
    margin-top: 28px;
    margin-right: 50px;
    border: 0;
    height: 25px;
    width: 40px;
    font-size: 14px;
    font-weight: 500;
    background-color: #5b8fff;
    color: white;
    border-radius: 0 5px 5px 0;
}

.top_input {
    float: right;
    width: 150px;
    margin-top: 28px;
    line-height: 80px;
    padding: 2px 10px;
    height: 19px;
    border-right: 0;
    border: 1px solid #5b8fff;
    border-radius: 5px 0 0 5px;
}